<ion-content id="content" scrollY="false">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <i class="fa fa-map-marker" routerLink="/tabs"></i>
        </ion-toolbar>
    </ion-header>

    <div class="middle">
         <span id="pulse" class="pulse ion-text-center">
            <i id="icon" class="{{searchIcon}}"></i>
        </span>
        <h1 class="title" id="title">
            {{ 'homePageTitle' | translate }}
        </h1>

        <h4 class="subtitle" id="subtitle">
            {{ 'homePageSubTitle' | translate }}
        </h4>
    </div>

</ion-content>
